html {
  background-color:khaki
}

h1 {
  color: #008080; /* Teal */
}

h2 {
  color: #333333; /* Dark gray */
}

h3 {
  color: #006400; /* Dark green */
}

a:hover {
  color: #32CD32; /* Lime green */
  text-decoration: underline;
}

a {
  color:#333;
}

body {
  margin: 2rem;
  background-color:blanchedalmond;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #A9A9A9; /* Dark gray */
  padding: 1rem;
  width: 50%;
  margin-left: 100px;
  margin-top: 100px;
}

form {
  text-align: right;
}

input {
  margin: 5px;
}

button {
  margin: 10px;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #FFF;
  background:goldenrod;
  padding: 8px;
}
