@{
  Layout = "_Layout";
}

<h1>Welcome to the Future of Voting!</h1>

<div>
<p>@Html.ActionLink("view voting","Index","Topics")</p>
@* <p>@Html.ActionLink("Add User", "Create", "Users")</p> *@
</div>